/* About.css */
.about-container {
    text-align: center;
  }
  
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  